<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>isp-logger</title>

    <!-- Styles -->
    <link href="{{ url_for('static', filename='styles/output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/output.css') }}" rel="stylesheet">
</head>
<body>
    <div class="bg-white w-full">
        <div class="max-w-4xl w-full mx-auto px-6 py-12">
            <!-- Current ISP info -->
            <div class="mb-8">
                <p class="md:text-xl text-lg mb-2">You are connected to</p>
                <h1 class="md:text-5xl text-3xl font-bold mb-4" id="current-as">(loading)</h1>
            </div>

            <!-- ISP history graph -->
            <p class="text-sm text-zinc-500 mb-2">&darr; <span id="current-timestamp">Now</span></p>
            <div id="history-graph"
                class="select-none grid grid-rows-[repeat(12,minmax(0,.75rem))] grid-cols-[repeat(60,minmax(0,1fr))] md:gap-1"></div>
            <div id="history-legend" class="flex flex-row-reverse flex-wrap mt-4 text-right mb-8">
                <div class="flex flex-row items-center ml-4">
                    <div class="w-2 h-2 bg-zinc-300 rounded-full">&nbsp;</div>
                    <p class="text-sm text-zinc-500 ml-2">No data</p>
                </div>
            </div>
            
            <!-- Current connection info -->
            <div class="flex flex-row flex-wrap justify-between max-w-full w-full">
                <div class="flex-auto grow mb-8 pr-8">
                    <p class="text-base mb-2">IP address</p>
                    <h2 class="text-2xl font-bold" id="current-ip">(loading)</h2>
                </div>
                <div class="flex-auto mb-8">
                    <p class="text-base mb-2">Location</p>
                    <h2 class="text-2xl font-bold" id="current-loc">(loading)</h2>
                </div>
            </div>

            <!-- ISP history -->
            <div id="history">
                <p class="text-base mb-2">Past 12 hours</p>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
</body>
</html>